*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Georgia, serif;
    background-color: rgb(243, 228, 228);
    color: black;
}

h1 {
    text-align: center;
}

ul {
    width: max-content;
    border: 5px double black;
    margin: 0 auto;
    background-color: rgb(128, 75, 75);
}

li {
    font-size: x-large;
    padding: 20px 10px;
}

a {
    color: rgb(255, 255, 255);
}
