body {
    font-family: Georgia, serif;
    background-color:rgb(114, 48, 39);
    color: rgb(208, 211, 42);
    font-size: 22px;
    width: 500px;
    text-align: center;
}

h1, h2 {
    color: rgb(252, 132, 21);
}

a {
    color: rgb(239, 241, 88);
}